body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.background-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #3498db;
    /* tansform: translate(-50%, -50%); */
    opacity: 0.4;
}

#chatContainer {
    background-color: #fff;
    max-width: 1048px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-height: 94vh;
}

#chatMessages {
    padding: 10px;
    border: none;
    border-radius: 16px;
    overflow-y: auto;
}

.user-input {
    max-width: 1080px;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    background: #fff;   
    justify-content: center;
    align-items: center;
    z-index: 3;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
}

#userInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 16px;
    margin: 15px 0 15px 10px;
}

#sendButton {
    background-color: #3498db;      
    color: #fff;
    padding: 0 16px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0.5;
    height: 40px;
    /* transition: background-color 0.3s ease; */
    margin: 0 10px;
}

.message {
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    align-item: center;
    /* border-radius: 5px; */
    /* background-color: #f9f9f9; */
    /* border: 1px solid #ddd; */
}

.message-content {
    background-color: #f9f9f9;
    padding: 8px 10px;
    border-radius: 16px;
    max-width: 60%;
    word-wrap: break-word;
}

.user-message .message-content {
    background-color: #e0f7fa;
    z-index: 2;
}

.user-message {
    justify-content: flex-end;
}

.blinking-dots {
    animation: blink 1s infinite;
    display: inline-block;
}

@keyframes blink {
    0%, 20%, 50%, 80%, 100% {
        opacity: 1;
    }
    40%, 60% {
        opacity: 0;
    }
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    margin-right: 10px;
    /* vertical-align: middle; */
}
